*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    height: 1158px;
    width: 1440px;
    border-radius: 0px;
    background:#FFFFFF; ;
    position: relative;

}
.main_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 112px;
  gap: 24px;
  position: absolute;
  width: 1440px;
  height: 998px;
  left: 0px;
  top: 0px;
}
.sub_section{
 /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 32px;
gap: 32px;

width: 1216px;
height: 774px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;  
}
.content{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 56px;

width: 1152px;
height: 774px;


}
.profile-section{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
isolation: isolate;

width: 1152px;
height: 142px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#profile__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    border-radius:275px;
    background:url(olu.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#twitter{
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 1152px;
height: 30px;


/* Inside auto layout */
width: 1152px;
height: 30px;

/* Text xl/Bold */

font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;
}
#slackusername{
    display: none;
}
.link-section{
    /* Link Section */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 1152px;
height: 576px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.links{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 1152px;
height: 76px;



filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.frames{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

/* Gray/200 */

background: #EAECF0;
/* Gray/200 */

border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
#btn__zuri,#books,#pitch,#book__design{
    width: auto;
    height: 28px;
    
    /* Text lg/Medium */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Gray/900 */
    
    color: #101828;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
btn_container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 1152px;
height: 76px;

/* Shadow/xs */

filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
